/*
INFO/CS 1300 Final Project
Applefest Website
Aliza Cohen (agc66), Jenice Xiao (jx223), Katherine Tang (kat86)
CSS for AppleFest Website
*/

/****************************/
/*resets and global styling */
/****************************/

html, body {
    border: 0;
    font: inherit;
    color: white;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    font-family: Candara, sans-serif;
    font-size: 0.9em;
}

h1, h2 {
    font-family: Candara, sans-serif;
}

/****************************/
/* styling by section       */
/****************************/

#top_nav {
    background-color: crimson;
    color: white;
    font-size: 1.25em;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}

#top_nav > span:first-child {
    margin-left: 1.5em;
}

#top_nav > span {
    margin-right: 3em;
}

#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

#bg img {
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    max-width: 100%;
    max-height: 100%;
}

#center {
    background: rgba(255, 255, 255, .2);
    position: absolute;
    margin-left: 5em;
    margin-right: 5em;
    padding-top: 4em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

#container {
    max-width: 1300px;
    padding: 2em;
}

#content {
    padding: 1.5em;
    text-align: center;
}

#pics {
    background: rgba(0, 0, 0, .5);
    border: 2px solid white;
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
    max-height: 427px;
}

#button_div {
    background: rgba(0, 0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    max-width: 14%;
}

button {
    padding: 0.5em;
    margin-left: 7px;
    margin-right: 7px;
}

#container > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2em;
}

#box {
    background: rgba(0, 0, 0, .5);
    border: 2px solid white;
    position: relative;
    float: left;
    height: 200px;
    width: 300px;
    margin: 25px;
    margin-top: 50px;
}

/****************************/
/* media queries            */
/****************************/

@media screen and (max-width: 1200px) {
    #content {
        width: 94%;
    }
}

@media screen and (max-width: 768px) {
    #container > img {
        max-width: 900px;
    }
    
    #content {
        max-width: 85%;
    }
}

@media screen and (max-width: 480px) {
    #top_nav > span:first-child {
        margin-left: 0em;
    }
    
    #container > img {
        display: none;
    }
}
