/*
INFO/CS 1300 Final Project
Applefest Website
Aliza Cohen (agc66), Jenice Xiao (jx223), Katherine Tang (kat86)
CSS for AppleFest Website
*/

/****************************/
/*resets and global styling */
/****************************/

html, body {
    background-color: black;
    color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

ul {
    background-color: crimson;
    list-style-type: none;
    padding: 2px;
    margin: 0;
    text-align: center;
    overflow: hidden; 
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: orangered;
}

h1 {
    text-align: center;
}

/****************************/
/* styling by section       */
/****************************/

#center {
    background: rgba(255, 255, 255, .2);
    padding: 20px;
    margin: auto;
    width: 70%;
}

@keyframes fade {
    0%  { opacity: 0; }
    11.11%  { opacity: 1; }
    33.33%  { opacity: 1; }
    44.44%  { opacity: 0; }
    100%  { opacity: 0; }
}

.slideshow { 
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 640px; 
    height: 426px;
}

.slideshow img { 
    opacity: 0; 
    animation-name: fade; 
    animation-duration: 9s; 
    animation-iteration-count: infinite; 
    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0; 
    right: 0;
}

.slideshow img:nth-child(1) { animation-delay: 0s; }
.slideshow img:nth-child(2) { animation-delay: 3s; }
.slideshow img:nth-child(3) { animation-delay: 6s; }

#container {
    background: rgba(255, 255, 255, .7);
    padding: 5px;
    margin: auto;
    margin-top: 50px;
    width: 90%;
}

.box {
    background: rgba(0, 0, 0, .5);
    border: 2px solid white;
    height: auto;
    width: auto;
    position: relative;
    float: left;
}

.content {
    padding: 1em;
    text-align: center;
}

.map img {
    display: block;
    margin: auto;
    width: 85%;
}

/****************************/
/* media queries            */
/****************************/

@media screen and (max-width: 1200px) {
    .top_nav {
        position: fixed;
        width: 100%;
    }
    
    li {
        float: left;
    }
}

@media screen and (max-width: 768px) {
    .top_nav {
        position: fixed;
        width: 100%;
    }
    
    li {
        float: left;
    }
    
    p {
        font-size: 1.25em;
    }
}

@media screen and (max-width: 480px) {
    .top_nav {
        position: static;
    }
    
    p {
        font-size: 1.25em;
    }
    
    .slideshow {
        display: none;
    }
    
    ul {
        background-color: crimson;
    }

    li {
        color: white;
        text-align: center;
        border-bottom: 1px solid black;
        display: block;
        padding: 5px;
}
