html, body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    font-style: italic;
}

span {
    font-weight: bold;
    font-size: 1.5em;
}

ul {
    background-color: greenyellow;
    list-style-type: none;
    padding: 15px;
    margin: 0;
    text-align: center;
}

li {
    color: black;
    display: inline;
    padding: 60px;
}

.banner {
    max-width: 100%;
    height: auto;
    background-size: contain;
}

.banner img {
    width: 100%;
}

.content {
    padding: 30px;
}

.column {
    float: left;
    width: 50%;
}

.item img {
    float: left;
    margin: 0 40px;
    width: 100px;
    max-width: 100px;
    min-width: 10px;
}

.item {
    height: 80px;
    margin-top: 40px;
}

.item:last-of-type {
    margin-bottom: 40px;
}

/******************
 * DEFAULT STYLES *
 ******************/

@media screen and (max-width: 1200px) {
    
    .nav {
        position: fixed;
        width: 100%;
    }

}

/******************
 * TABLET STYLES *
 ******************/

@media screen and (min-width: 480px) and (max-width: 768px) {
    
    .nav {
        position: fixed;
        width: 100%;
    }
    
    .column {
        float: none;
        width: 100%;
    }
    
    .content {
        padding: 30px;
    }
    
    p {
        font-size: 1.25em;
    }
    
    .item img {
        float: left;
        margin: 0 40px;
        width: 100px;
    }
    
    .item {
        height: 80px;
        margin-top: 40px;
    }
}

/******************
 * MOBILE STYLES *
 ******************/

@media screen and (max-width: 480px) {
    
    .column {
        float: none;
        width: 100%;
    }

    .item {
        border-bottom: 2px dotted black;
        height: inherit;
    }

    .item img {
        display: none;
    }

     ul {
        background-color: white;
    }

     li {
        color: black;
        text-align: center;
        border-bottom: 1px solid greenyellow;
        display: block;
        padding: 10px;

    }

    p {
        font-size: 1.25em;
    }

    .nav {
        position: static;
    }
}
